.App {
  font-family: sans-serif;
  text-align: center;
}

.content {
  margin-left: 250px;
  padding: 16px;
  transition: margin-left 0.3s;
  z-index: 0;
}

.sidebar.collapsed ~ .content {
  margin-left: 80px;
}

@media screen and (max-width: 768px) {
  .content {
    margin-left: 80px;
  }
  .sidebar.collapsed ~ .content {
    margin-left: 80px;
  }
}
